<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="bi bi-grid-fill"></i> Map Projection Explorer
    </a>

    <button class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="crs"
            routerLinkActive="active">
            <i class="bi bi-book"></i> Coordinate Reference Systems
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="map2d"
             routerLinkActive="active">
            <i class="bi bi-map"></i> Map 2d
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="map3d"
             routerLinkActive="active">
            <i class="bi bi-globe"></i> Map 3d
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-flux">
  <router-outlet></router-outlet>
</div>
